//
$mobile: new-breakpoint(max-width 768px 4);
// $tablet: new-breakpoint(max-width 768px 4);

.neat-center {
  @include outer-container(100%);
  @include span-columns(10);
  @include shift(1);
}

.desaturate {
	filter: gray;
	filter: grayscale(100%);
}

.backgrounds div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-bcg {
  background: image-url('Vilanovagaia.jpg');
}

.logo img {
	@include shift(1);

  width: 200px;
  height: auto;
  position: absolute;
  top: 40px;
  // left: 40px;
  z-index: 2;
	@include media($mobile) {
		width: 150px;
	};
}

.outer-wrap {
  @include outer-container(100%);
  // position: fixed;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  // overflow: scroll;
    @include media($mobile) {
      position: relative;
      min-height: 100%;
    };
}

.inner-wrap {
  padding: 50px;
  background: RGBA(228, 187, 37, 0.60);
	background-blend-mode: difference;;
  position: absolute;
  top:50%;
  transform: translate(0, -50%);
	height: 50vh;
	@include media($mobile) {
		padding: 20px;
	};
}

.wrap {
	color: $white;
	h1 {
	color: $white;
	@include media($mobile) {
		font-size: 20px;}
	}
	p {
		@include media($mobile) {
			font-size: 12px;}
	}
}

// CTA button

.cta-form {
	position: absolute;
	top: 80vh;
	z-index: 10;
	text-align: center;
}

.modal-trigger {
	h1 {
		margin-bottom: auto;
		display: inline;
		padding: 10px;
		transition: color, background .3s ease-in-out;
		color: $white;
		// border: 2px solid RGBA(0, 0, 0, 1);
		border-radius: 3px;
		background: rgba(136, 176, 75, 1);
			font-size: 20px;
		@include media($mobile) {
			font-size: 16px;}
		&:hover {
			color: RGBA(0, 0, 0, 1);
			background: $white;
		}
	}
}

.content-wrap {
	position: absolute;
	background: $white;
	height: inherit;;
}

.content-value{
	text-align: center;
	padding-top: 5vh;

}
