
$mobile: new-breakpoint(max-width 480px 4);
$tablet: new-breakpoint(max-width 768px 4);

/* =Header */
.header-container {
  // text-align: center;
  overflow: hidden;
  position: relative; }
  .header-container .wrapper {
    z-index: 2;
    position: relative;
    }

.logo {
  width: 20vw;
  padding-top: 15vh;
  padding-bottom: 20vh;
  /* media query mixin for mobile screens */
     @include media($mobile) {
       width: 50vw;
       padding-top: 10vh;
       padding-bottom: 15vh;
    }
    /* media query mixin for tablet screens */
       @include media($tablet) {
         width: 50vw;
         padding-top: 10vh;
         padding-bottom: 15vh;
      }
}

.bcg {
  background: no-repeat center center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1; }
  .header-container .bcg {
    background-image: image-url('Aljezur.jpg');
    background-size: cover; }
  #slide01 .bcg {
    background: image-url('Lisboabridge.jpg') no-repeat center center;
    background-size: cover; }

.fs {
  height: 100vh;
}


/* =Content Block */
.content-block {
  background-color: #212121;
  color: rgba(255, 255, 255, 0.9);}

/* =Slide */
.slide {
  position: relative;
  overflow: hidden;
  overflow-x: hidden;
}
  .slide .wrapper {
    position: relative;
    z-index: 2; }
  .slide#slide01 .wrapper {
    position: absolute;
    top: 10%; }


/* =Content block form */

  #cb02 {
    position: absolute;
    width: 100vw;
    padding: 20px 0 20px 0;
  }
