//
$mobile: new-breakpoint(max-width 375px 12);
$tablet: new-breakpoint(max-width 415px 12);

.neat3-span {
  @include span-columns(4);
  // @include media($tablet) {
  //   @include span-columns(3);
  //   // @include shift(1);
  // }
  @include media($mobile) {
    @include span-columns(10);
    @include shift(1);
  }
  background: $blue;
  // padding: 10px;
  // margin: 20px;
}

.feat1-content {
  background: $blue;
}
