.bcg {
  background: no-repeat center center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1; }
  .header-container .bcg {
    background-image: image-url('Aljezur.jpg');
    background-size: cover; }
  #slide01 .bcg {
    background: image-url('Lisboabridge.jpg') no-repeat center center;
    background-size: cover; }

.fs {
  height: 100vh; }
