<footer class="footer-2">
  <div class="footer-wrapper neat-center">
    <div class="footer-logo">
      <%= image_tag 'LogoNWP.png' %>
    </div>
    <div class="aboutus">
      <p>
        We build inspiring working spaces, experiences and outdoors activities few miles away from iconic Lisbon's beaches in Portugal for your startup retreats
      </p>
    </div>
    <div class="LogoRound">
      <%= image_tag 'NWPround.png' %>
    </div>
    <div class="copyrights">
      <p>All rights reserved Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2017  #nuworkplay #madeoflisboa <i class="fa fa-heartbeat" aria-hidden="true"></i></p>
    </div>
  </div>
</footer>
