<form action="https://formspree.io/matthieu@nuworkplay.com"
      method="POST" name="getInTouchForm" id="ctaForm">
    <input type="text" name="name" placeholder="Your name?">
    <input type="email" name="_replyto" placeholder="Your email?">
    <textarea name="message" placeholder="Your question?"></textarea>
    <input type="text" name="_gotcha" style="display:none" />
    <input type="submit" value="Send" id="ctaButton">
</form>
