
    <div class="feat1-content neat3-span">
      <h2>Living</h2>
      <ul>
        <% data.living.benefits.each do |benefit| %>
        <li>
          <p> <%= benefit %></p>
        </li>
        <% end %>
      </ul>
    </div>

    <div class="feat2-content neat3-span">
      <h2>Working</h2>
      <ul>
        <% data.working.benefits.each do |benefit| %>
        <li>
          <p> <%= benefit %></p>
        </li>
        <% end %>
      </ul>
    </div>

    <div class="feat3-content neat3-span">
      <h2>Playing</h2>
      <ul>
        <% data.playing.benefits.each do |benefit| %>
        <li>
          <p> <%= benefit %></p>
        </li>
        <% end %>
      </ul>
    </div>
