<div class="modal">
  <label for="modal-1">
    <div class="modal-trigger">
        <h1>QUOTATION</h1>
    </div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
      <h3>Contact us for your next startup retreat</h3>
        <div class="pipedriveWebForms" data-pd-webforms="https://pipedrivewebforms.com/form/b6df5058038ec383c0858f93e32d408b1494067"><script src="https://pipedrivewebforms.com/webforms.min.js"></script>
        </div>
    </div>
  </div>

</div>
