<div class="modal">
  <label for="modal-1">
    <div class="modal-trigger" id="cta-click2">
      <h1>QUOTATION</h1>
    </div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
      <!-- <h4>Contact us for your next startup retreat</h4> -->
      <%= partial "quotation" %>
    </div>
  </div>

</div>
