---
title: Nuworkplay
---
<div id="intro" class="header-container fs">
		<div class="bcg"></div>
		<header class="wrapper grid-center">
				<img src="../images/logoNWPv1.png" class="logo">
				<h1 class="title">Inspiring Company retreats</h1>
				<p>Bring new soul to your team, unleash efficient work & play experience in genuine Portugal</p>
		</header>
</div>
<div class="cta-form">
	<%= partial "modal" %>
</div>

<div class="main-container">

		<article id="cb01" class="content-block">
				<div class="wrapper">
						<header class="grid-center">
								<h1>Perfect culture and business match for your 2017 team's labs, design sprints, hackathons or bootcamps</h1>
								<p>Nuworkplay builds inspiring working spaces, experiences and outdoors activities few miles away from iconic Lisbon's beaches in Portugal</p>
						</header>
				</div> <!-- .wrapper -->
		</article>

		<article id="slide01" class="slide fs">
				<div class="bcg"></div>
				<div class="wrapper features grid-center">
					<p>SEND YOUR TEAM GO SURFING, BBQ, PLAY A GAME OR WORKOUT</p>
					<h1>BUT GET THE BUSINESS PURPOSE DONE</h1>
					<%= partial "icons" %>
				</div>
		</article>


		<article id="cb02" class="content-block">
			<div class="wrapper grid-center">
				<%= partial "getintouch" %>
			</div> <!-- .wrapper -->
		</article>

</div>
