---
title: Nuworkplay
---
<div id="intro" class="header-container fs">
		<div class="bcg"></div>
		<header class="wrapper">
				<img src="../images/logoNWPv1.png" class="logo">
				<h1 class="title">Inspiring Company retreats</h1>
				<p>Bring new soul to your team, unleash efficient work & play experience in genuine Portugal</p>
		</header>
		<div class="button-cta">CTA</div>
</div>


<div class="main-container">

		<article id="cb01" class="content-block">
				<div class="wrapper">
						<header class="slideInUp">
								<h1>Perfect culture and business match for your 2017 team's labs, design sprints, hackathons or bootcamps</h1>
						</header>
						<section>
								<p class="slideInUp slideInUp2">Nuworkplay builds inspiring working spaces, experiences and outdoors activities few miles away from iconic Lisbon's beaches in Portugal</p>
						</section>
				</div> <!-- .wrapper -->
		</article>

		<article id="slide01" class="slide fs">
				<div class="bcg"></div>
				<div class="wrapper">
						<header class="slideInUp">
								<h1>Living, Working, Playing</h1>
						</header>
						<section>
								<p class="slideInUp slideInUp2">Description + pics</p>
						</section>
				</div> <!-- .wrapper -->
		</article>


		<article id="cb02" class="content-block">
			<div class="wrapper">
				<header class="slideInUp">
					<h1>FORM</h1>
				</header>
			</div> <!-- .wrapper -->
		</article>

</div>
